:root {
    --lwidth: 300px;
    --rwidth: 600px;
    --barwidth: 25px;
};

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--lwidth) + var(--barwidth));
    right: calc(var(--rwidth) + var(--barwidth));
    transition: left 0.5s, right 0.5s;
}

.content.lclosed {
    left: var(--barwidth);
}

.content.rclosed {
    right: var(--barwidth);
}

.sidebar {
    top: 0;
    bottom: 0;
    transition: margin-left 0.5s, margin-right 0.5s;
}
.sidebar.left {
    width: var(--lwidth);
    float: left;
}
.sidebar.right {
    width: var(--rwidth);
    float: right;
}
.sidebar.left.closed {
    margin-left: -var(--lwidth);
}
.sidebar.right.closed {
    margin-right: -var(--rwidth);
}

.dragbar {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color:black;
    width: var(--barwidth);
    cursor: col-resize;
    transition: left 0.5s, right 0.5s;
}

.dragbar.left {
    left: calc(var(--lwidth));
}

.dragbar.right {
    right: calc(var(--rwidth));
}

.dragbar.left.closed {
    left: 0;
}

.dragbar.right.closed {
    right: 0;
}
