.container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: #DDD;
}

.left {
    border-radius: 0px 10px 10px 0px;
    float: left;
    clear: left;
}

.right {
    border-radius: 10px 0px 0px 10px;
    float: right;
    clear: right;
}

.content {
    overflow-y: auto;
}

.hidden {
    display: none;
}
